:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 20px;
}

main {
  max-width: 1024px;
  width: 100%;
  padding: 0 20px;
}

.welcome-page {
  transition: all 1s ease-in-out;
}

.game-dashboard {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in;
}

h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}

p {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.choice-button-container {
  margin-bottom: 20px;
  max-width: 500px;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: #000;
  color: white;
  padding: 10px;
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
}

.play-button {
  opacity: 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.replay-button {
  border-radius: 10px;
  display: none;
}

img {
  max-width: 100px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
}

footer {
  max-width: 1024px;
  width: 100%;
  padding: 0 20px;
  opacity: 0;
}

footer p {
  font-size: 1rem;
}

@media screen and (min-width: 410px) {
  img {
    max-width: 150px;
  }
}
