:root {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.game-dashboard {
  display: flex;
  flex-direction: column;
}

.round-winner,
.game-winner {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.choice-button-container {
  margin-bottom: 3rem;
}

button {
  cursor: pointer;
  background-color: #000;
  color: white;
  padding: 10px;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
}

img {
  max-width: 100px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
}

.replay-button {
  opacity: 0;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  transition: all 0.5s ease-in-out;
}
